.users-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: #f0f0f0;
}
/* User component */
.user-container {
  width: 100%;
  max-width: 278px;
  border: 1px solid gray;
  background-color: #fff;
  margin: 10px;
  cursor: pointer;
}
.user-container img {
  width: 100%;
}
.user-container p {
  margin-left: 5px;
}
.user-text-info {
  font-weight: bold;
}
.user-text-info span {
  margin-left: 5px;
}

.friends-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
