.app-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.no-data-text {
  font-weight: bold;
  font-size: 30px;
}
